body {
  background: rgb(24, 24, 24);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  width: 100%;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
}

.btn {
  background: #707070;
  padding: 18px 15px;
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: all .3s;

  &.disabled {
    background: #000;
    border-color: #a3a3a3;
    color: #a3a3a3;
  }

  &:hover {
    background: #000;
    border-color: #a3a3a3;
    color: #a3a3a3;
  }
}

/* Task Create Page */
.task_create-container {
  
  .title-block {
    text-align: center;
    color: #a3a3a3;
  }

  .btn-block {
    margin: 0 0 30px;
  }

  .form-block {
    background: rgba(0, 0, 0, .5);
    padding: 20px;  
    border: 1px solid #707070;
    border-radius: 20px;
    max-width: 500px;
    margin: 0 auto;
    color: #a3a3a3;
  }
  
  .field {
    border: none;
    padding: 0;
    margin: 0 0 20px;
  
    label {
      display: block;
      text-align: left;
      font-size: 18px;
    }
  
    input, select {
      background: none;
      box-sizing: border-box;
      padding: 10px;
      width: 100%;
      display: block;
      outline: none;
      border: 1px solid #707070;
      border-radius: 5px;
      color: #a3a3a3;
    }
  
    select {
      background-color: rgba(0, 0, 0, 0.01);
    }
  
    &.error {
      color: rgb(196, 14, 14);
  
      input {
        border-color: rgb(196, 14, 14);
      }
    }
  
    .error-message {
      font-size: 14px;
    }
  }
  
  .btn-field {
      text-align: center;
  }
}

/* Tasks List Page */
.tasks-container {

  .title-block {
    text-align: center;
    color: #a3a3a3;
  }

  .btn-block {
    text-align: right;
    margin: 0 0 30px;
  }

  .task-list {
    margin: 0;
    padding: 0;
    list-style: none;
  
    li {
      padding: 30px;
      display: block;
      border: 1px solid #707070;
      border-radius: 5px;
      margin: 0 0 20px;
      color: #a3a3a3;
    }
  }
}

/* Task Details Page */
.tasks_details-container {
  color: #a3a3a3;

  .title-block {
    text-align: center;
    margin: 0 0 100px;
  }

  .task-content {
    text-align: center;
  }
}